
.main {
    width: 90vw;
}

.infocontiner {
    height: 58vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}

/* --- Dev Info Styles --- */
.devinfo {
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hello {
    font-size: 2rem;
    color: #aaa;
    pointer-events: none;
}

.name {
    font-size: 3.5rem;
    font-weight: bold;
    color: #b74b4b;
    pointer-events: none;
}

.about {
    font-size: 1.8rem;
    font-family: 'Poppins', sans-serif;
    pointer-events: none;
}

.moreabout {
    font-family: 'Fira Sans', 'sans-serif';
    font-size: 1.2em;
    margin-top: 20px;
}

/* --- Typing Animation Styles --- */
.typing-text {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
    color: #6b8986;
}

.typing-text span {
    position: relative;
}

.cursor {
  font-weight: 100;
  animation: blink-cursor 0.6s infinite;
  display: inline-block;
  margin-left: 5px;
  color: #b74b4b; /* Change to your desired color */
}

@keyframes blink-cursor {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

/* --- Social Icons --- */
.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: transparent;
    border: 0.2rem solid #6b8986;
    font-size: 1.5rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #6b8986;
}

.social-icons a:hover {
    color: #fff;
    transform: scale(1.2) translateY(-3px);
    background: #405452;
    box-shadow: 0 0 20px #405452;
}

/* --- Buttons --- */
.buttons {
    margin-top: 34px;
}

.btn {
    display: inline-block;
    padding: 1rem 1.6rem;
    margin: -30px 8px;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.3rem;
    color: #b74b4b;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #b74b4b;
    transition: 0.3s ease;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

.btn:hover {
    transform: scale3d(1.03, 1.03, 1.03);
    background-color: #b74b4b;
    color: black;
    box-shadow: 0 0 25px #b74b4b;
}

/* --- Dev Picture --- */
.devpic {
    border-radius: 50%;
    height: 54.5vh;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5);
}

.devpic img {
    position: relative;
    height: 54vh;
    width: 21vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid #b74b4b;
    cursor: pointer;
    transition: 0.2s linear;
}

.flip_front {
    position: relative;
    backface-visibility: hidden;
    transition: all 0.3s ease-in-out;
    transform: perspective(500px) rotateY(0deg);
}

.flip_back {
    position: absolute;
    top: 19.3vh;
    background: transparent;
    backface-visibility: hidden;
    transition: all 0.3s ease-in-out;
    transform: perspective(500px) rotateY(180deg);
}

.devpic:hover .flip_front {
    transform: perspective(500px) rotateY(-180deg);
}

.devpic:hover .flip_back {
    transform: perspective(500px) rotateY(0deg);
}

/* --- Footer --- */
footer {
    position: absolute;
    bottom: 20px;
}

.bottom-text {
    text-align: center;
    margin-top: 10px;
    padding-bottom: 10px;
    font-size: 0.8rem;
}

.bottom-text p {
    color: #777;
    font-family: 'Fira Sans', sans-serif;
}